body{
    background-color: #dddddd;
    overflow-x: hidden;
}

h1{
    color: #29b1dd;
    padding: 2rem;
    font-weight: bold;
}

.navbar{
    background-color: #29b1dd;
}


.icon-box{
    width: calc((100% / 5) - 3rem);
    margin: 3rem;
    background-color: white;
}

.orange{
    color: #ffa500;
}

.blue{
    color: #0000ff;
}

.green{
    color: #800080;
}