.wrapper{
    background-color: #dddddd;
}

h1{
    color: #29b1dd;
}

.navbar{
    background-color: #29b1dd;
}


.icon-box{
    width: calc((100% / 5) - 3rem);
    margin: 3rem;
    background-color: white;
}